.row
  .col-sm-12
    %h1 All Orders
    %p= link_to "New Order", new_order_path, class: "btn btn-primary"

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Name
          %th Company
          %th Address
          %th Phone
          %th Items
      %tbody
        - @orders.each do |order|
          %tr
            %td= order.user.name
            %td= order.user.company
            %td= order.user.address
            %td= order.user.phone
            %td= order.items.map(&:name).join(", ")