.row
  .col-sm-6
    .h1 Welcome
  .col-sm-6
    .h2 Buy Something

.row
  .col-sm-12
    = simple_form_for @order do |f|
      = f.association :items, collection: Item.all
      = f.input :name
      = f.input :company
      = f.input :address
      = f.input :phone, as: :tel
      = f.input :needed_by
      = f.submit "Submit Order", class: "btn btn-primary"