!!!
%html
  %head
    %title Dadsite
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -if flash[:notice]
      %p= flash[:notice]

    .container
      .row
        .col-sm-3
        .col-sm-8
          .devise-container
            = yield
